[Unit]
Description=mDNS Proxy
After=network.target

[Service]
ExecStart=/bin/bash -c "/usr/local/bin/mdns-proxy.py $(hostname) $(hostname -I | cut -d' ' -f1)"
StandardOutput=null

[Install]
WantedBy=multi-user.target
